- var socials_type = "hero__socials"
.hero__bg
    img(src="assets/img/bg/portfolio.jpg", alt="").hero__bg-img
    include ../blocks/socials
a(href="").hamburger.hero__hamburger
    img(src="assets/img/icons/svg/hamburger.svg",class="hamburger__img")
a(href="").down-arrow
    img(src="assets/img/icons/arrow_down.svg").down-arrow__icon
.hero__title
      .user.hero__user-block
        .user__photo
            .user__photo-avatar
                img(src="assets/img/content/user.jpg", alt="").user__photo-img
      .title('БЛОГ', 'about-header.png', 'about__section-title')
      .text
            | Статьи, которые я написал
