.footer
{
  max-width: 1200px;
  background: #53595c;
  font-size: 16px;
  height: 185px;

  @include laptop {
    width:1200px;
    font-size: 15px;
    height: 185px;

  }
  @include tablets{
    width:720px;
    font-size: 15px;

  }
  @include phone{
    width:95%;
    font-size: 14px;
    height: auto;
  }
  margin: 0 auto;
  font-family: "Roboto Light";

  color: $white;

}
.footer-main {
  //height: 100%;
  display: flex;
  @include phone {
   flex-direction: column;

  }

}
.footer-main-right, .footer-main-left, .footer-main-center {
  flex:1;
  padding: 30px 0 0 20px;
  min-width: 400px;
  @include phone {
    text-align: center ;
    padding: 20px 20px 10px 20px;
   border-bottom: 1px solid  $color_grey;
  }
}
.footer__menu{
  margin-bottom: 12px;
  @include phone{
    margin-bottom: 0px;
  }

}
.footer-main-center {
  display: flex;
  flex-direction: column;

  @include phone {

    align-content:center ;
  }

}
.footer__text_bold {

  font-family: "Roboto Roboto BoldItalic";


}
.footer__socials {

  @include phone {
    align-self: center;
  }

}
