extends ../main.layout.pug
block variables
    - var title = 'Blog'
block content
    section.section.hero
        include ../common/hero_blog




    section.section.blog-content
        .blog-content__left
            svg.triangle.triangle_fill_white
            ul.menu
                each item in blogArticles
                  li.menu_item
                    a(href="" class="menu__title") #{item}


        .blog-content__right
            svg.triangle.triangle_fill_beige

            ul.articles
                li.articles__item
                    a(href="" class="articles__title")
                    .articles__create_time
                    .articles__text






